.modal-90w {
    width: 90% !important;
    max-width: none !important;
}

.modal-content {
    background-color: transparent !important;
}

.modal-footer {
    border: none !important;
}

.mapboxgl-map {
    border-radius: 5px !important;
}