.input-group {
    right: 0;
    position: absolute !important;
    margin-right: 1rem;
    width: auto !important;
}

.search-btn {
    color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

.search-btn:hover {
    color: #fff !important;
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}
