.weather-today_temperature {
    font-size: 7rem;
}

.weather-today_icon {
    display: flex;
    flex-wrap: wrap;
    width: 11rem;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.list-group {
    justify-content: center;
}

.list-group-item {
    display: flex;
    align-items: center;
    background-color: transparent !important;
    border: none !important;
}