.celsius-button::after {
    content: '\2103';
    font-size: 20px;
}

.fahrenheit-button::after {
    content: '\2109';
    font-size: 20px;
}

.btn {
    height: calc(1.5em + .75rem + 2px);
    padding: .1rem 0.75rem !important;
}